schedule:
  enabled: true

  # DAILY | WEEKLY | MONTHLY | HOURLY | INTERVAL | ONCE
  frequency: INTERVAL

  # Time of day to run
  #hours: 3        # 02:00 AM
  #minutes: 3
  intervalMinutes: 1
  timezone: "Africa/Addis_Ababa"

  # Only used for WEEKLY
  #daysOfWeek:
  #  - MONDAY
  #  - WEDNESDAY
  #  - FRIDAY
    
  # Only used for MONTHLY
  #daysOfMonth:
  # - 1
  # - 29

  # Only used for INTERVAL
  # intervalMinutes: 60   # run every hour

  # Only used for ONCE
  #startDate: "2025-11-28"

  # Recovery behavior if a run is missed or system was off
  recoveryPolicy: RUN_IMMEDIATELY
files:
  sourcePaths:
    - "/home/gamma/test"

  includePatterns:
    - "*.*"
  excludePatterns:
    - "*.tmp"
    - "*/cache/*"

  followSymlinks: false
  recursive: false

storage:
  type: LOCAL #SFTP # PARTITION CLOUD NFS
  path: "/home/gamma/backup"
  encryptionKey: "p8E4R4y3lQk0WJg+q5+F3HkGmA2pJv3g9v7zqJ1s9cc="
  #share: "share for SMB"
  #mountPoint: "/mnt/backup"
  #passwordPath: "for SMB, SFTP(if not by private key)"
  host: "localhost"  
  user: "testuser"
  port: 2222
  passwordPath: "/home/gamma/password.txt"
  #privateKeyPath: "/home/gamma/sftp/testuser/.ssh/sftp_id_rsa"
  #passPhrase: "testt"
